/* Colorful Cosmic Canvas */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom, #87CEEB 0%, #B0E0E6 100%);
  
}

h1, h4 {
    color: #212529;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 10px;
}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 25px;

}

.form-control {
    border-radius: 6px;
}

.btn-primary {
    border-radius: 20px;
}