body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(to bottom, #87CEEB 0%, #B0E0E6 100%);
  position: relative;
  overflow: scroll;
}

.stars {
  width: 100%;
  height: 100%;
  background-image:
    radial-gradient(circle, white 1px, transparent 1px),
    radial-gradient(circle, white 1.5px, transparent 1.5px),
    radial-gradient(circle, white 1px, transparent 1px),
    radial-gradient(circle, white 2px, transparent 2px),
    radial-gradient(circle, white 1px, transparent 1px);
  background-size: 20px 20px, 35px 35px, 50px 50px, 25px 25px, 40px 40px;
  background-position: 5px 10px, 15px 25px, 0 0, 10px 15px, 20px 5px;
  opacity: 0.7;
}

.sun {
  position: absolute;
  top: 10%;
  left: 80%;
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, #FFFACD, #FFD700 70%);
  border-radius: 50%;
  box-shadow: 0 0 60px #FFD700;
}


h1, h4 {
    color: #212529;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 10px;
}

.card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 25px;

}

.form-control {
    border-radius: 6px;
}

.btn-primary {
    border-radius: 20px;
}